
:root {
  --color-tf2-dark-red: #9d312f;
  --color-tf2-red: #bd3b3b;
  --color-tf2-light-red: #913a1e;
  --color-tf2-gray-red: #6a4535;
  --color-tf2-dark-gray-red: #462d26;
  --color-tf2-yellow-red: #f08149;
  --color-tf2-light-yellow-red: #f5ad87;

  --color-tf2-dark-blu: #395c78;
  --color-tf2-blu: #5b7a8c;
  --color-tf2-light-blu: #768a88;
  --color-tf2-gray-blu: #6d6a65;
  --color-tf2-dark-gray-blu: #34302d;
  --color-tf2-yellow-blu: #ef9849;
  --color-tf2-light-yellow-blu: #f6b98a;
}

body {
  margin: 0px;
  background-image: url(../resources/ambassador_silhouette.png);
  animation-name: background;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

body.theme-blu{
  background-color: var(--color-tf2-blu);
}
body.theme-red{
  background-color: var(--color-tf2-red);
}
@keyframes background {
  0% {
      background-position: 0px 0px;
  }
  100% {
      background-position: 1024px 406px;
  }
}

div.top-ribbon {
  height: 64px;
  width: 100vw;
  padding: 0%;
  border-bottom: 4px solid;
}

div.theme-blu {
  background-color: var(--color-tf2-gray-blu);
  border-color: var(--color-tf2-dark-gray-blu);
}
div.theme-red {
  background-color: var(--color-tf2-gray-red);
  border-color: var(--color-tf2-dark-gray-red);
}

#wrapper {
  height: calc(100vh - 68px); /* 68 cos 64px is top ribbon and 4 additional is border. Remmember it finally, dumbass */
  width: 85vw;
  margin: auto;

  overflow-y: auto;
  scrollbar-gutter: stable;
  background-color: transparent;
}


.section.theme-blu::-webkit-scrollbar {
  width: 20px;
}

.section.theme-red::-webkit-scrollbar {
    width: 20px;
}

.section.theme-blu::-webkit-scrollbar-track {
  background-color: var(--color-tf2-yellow-blu);
}

.section.theme-red::-webkit-scrollbar-track {
  background-color: var(--color-tf2-yellow-red);
}

.section.theme-blu::-webkit-scrollbar-thumb {
    background-color: var(--color-tf2-light-yellow-blu);
    border-radius: 20px;
}

.section.theme-red::-webkit-scrollbar-thumb {
    background-color: var(--color-tf2-light-yellow-red);
    border-radius: 20px;
}

div.content-frame.theme-blu {
  height: 120%;
  background-color: var(--color-tf2-dark-blu);
  scrollbar-width: thin;
}
div.content-frame.theme-red {
  height: 120%;
  background-color: var(--color-tf2-dark-red);

  scrollbar-width: thin;
}